<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ComputacaoCafe</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"  />

</head>
<body>
   <header>
       <!--
       <nav class="navbar navbar-light bg-light">
           <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Computação Café</span>
       </nav>
       -->
       <nav class="navbar navbar-light bg-light">
           <a class="navbar-brand" href="#">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16">
                   <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
               </svg>
               Computação Café
           </a>
       </nav>

   </header>
   <section>
       <div class="container" style="width: 60%; padding-bottom: 30%;">

           <nav aria-label="breadcrumb">
               <ol class="breadcrumb" style="background-color: white; padding-left: 0;">
                   <li class="breadcrumb-item active" aria-current="page">Conteudos</li>
               </ol>
           </nav>

           <div class="card shadow-sm bg-white rounded" style="margin-top: 20px" th:each="post : ${posts}">
               <div class="card-body">
                  <p class="card-subtitle mb-2 text-muted h2" style="font-size: 0.8rem;">
                    <span class="badge badge-secondary" th:text="${post.autor}"></span>
                    <span th:text="${post.data}"></span>
                  </p>
                   <a href="#"><h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px">
                       <span th:text="${post.titulo}"></span>
                   </h4></a>
                   <p class="card-text">
                       <span th:utext="${#strings.abbreviate(post.texto, 400)}"></span>
                   </p>
               </div>
           </div>
       </div>
   </section>
</body>

<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</html>