<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ComputacaoCafe</title>
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"  />

</head>
<body>
   <header>
       <nav class="navbar navbar-light bg-light">
           <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Computação Café</span>
       </nav>
   </header>
   <section>
       <div class="container" style="width: 60%; padding-bottom: 30%;">

           <nav aria-label="breadcrumb">
               <ol class="breadcrumb" style="background-color: white; padding-left: 0;">
                   <li class="breadcrumb-item active" aria-current="page">Conteudos</li>
               </ol>
           </nav>

           <div class="card shadow-sm bg-white rounded" style="margin-top: 20px">
               <div class="card-body">
                   <p>Seja bem Vindo Ao site do Edinaelson, isso sera uma pagina para conteudos de series, animes mundo geek em geral.</p>
               </div>
           </div>
       </div>
   </section>
</body>

<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
</html>